node_modules
dist
.env
.env.*
.vscode
.DS_Store
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage    
.cache
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
*.tsbuildinfo
.npmrc
note.txt

api.rest